<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav style="display: flex; justify-content: flex-end;">
        {% if user %}
        <div>
            <a href="{{ url_for('users.profile') }}">{{ user.corporate_email }}</a>
        </div>
        {% else %}
        <div>
            <a href="{{ url_for('users.login') }}">Войти</a>
        </div>
        {% endif %}
    </nav>
    <main class="container">{% block content %}{% endblock %}</main>
</body>

</html>