{% extends "layout.html" %}
{% from "_macros.html" import render_form, render_field %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
<p>Email: {{ user.corporate_email }}</p>

{% if user.student or user.has_student_email %}
{{ render_form(form, url_for('students.profile')) }}
{% elif user.teacher or user.has_teacher_email %}
{{ render_form(form, "", disabled=user.teacher and user.teacher.is_verified) }}
{% endif %}

<form action="{{ url_for('users.logout') }}" method="post">
    <button type="submit">Выйти</button>
</form>
{% endblock %}