{% extends "layout.html" %}
{% from "_macros.html" import render_field %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
<div class="columns is-centered is-vcentered is-mobile is-multiline is-fullheight" style="min-height: 100vh;">
    <div class="column is-half">
        <form action="{{ url_for('users.register') }}" method="post" class="box">
            {{ form.csrf_token }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.password_confirm) }}
            <div class="field is-grouped is-justify-content-center mt-4">
                <div class="control">
                    <button class="button is-link" type="submit">Создать аккаунт</button>
                </div>
            </div>
        </form>
        <p class="has-text-centered">
            <a href="{{ url_for('users.login') }}">или войдите в аккаунт</a>
        </p>
    </div>
</div>
{% endblock %}